<aside id="sidebar" class="sidebar_left">
    <img src="{{'/assets/images/profile.jpg' | relative_url }}" class="author">
    <{% if page.layout == "index" %}h1{% else %}div{% endif %} class="site-title">
      <a href="{{ "/" | relative_url }}">
        {% unless page.url == "/" %}
          <span class="back-arrow icon">{% include svg/back-arrow.svg %}</span>
        {% endunless %}
        {{ site.title }}
      </a>
    </{% if page.layout == "index" %}h1{% else %}div{% endif %}>
    <p class="lead">{{ site.description }}</p>
  {% include sidebar-nav-links.html %}

  {% if site.version %}
    <span class="site-version">Currently v{{ site.version }}</span>
  {% endif %}
  <a href="{{site.orcid}}">
    <img src="{{'/assets/images/orcid.png' | relative_url}}" class="orcid" alt="orcid">
  </a>
  <a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a>
  {% include sidebar-icon-links.html %}
  {% include copyright.html %}
</aside>
