* {
  box-sizing: border-box;
}
.content_block {
  margin-left: $sidebar-width;
}
.sidebar_left {
  position: fixed;
  top: 0;
  left: 0;
  width: $sidebar-width;
  font-size: 22px;
  background: $sidebar-bg-color;
  .author {
    margin: 50px auto;
  }
  .orcid {
    margin: 10px 0;
    width: 30px;
  }
}
.publication {
  p {
    font-size: 0.8rem;
  }
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #aaa;
  background-color: #fbfbfb;
  height: max-content;
}

// Create three unequal columns that floats next to each other _/
.column {
  float: left;
  padding: 10px;
}

.left,
.right {
  width: 15%;
}

.middle {
  width: 70%;
}

/// Clear floats after the columns _/
.row:after {
  content: "";
  display: table;
  clear: both;
}
.publication {
  .__dimensions_badge_embed__,
  .__dimensions_badge_embed__ a,
  .__dimensions_badge_embed__ a:hover,
  .__dimensions_badge_embed__ div {
    font-size: 24px;
  }
  .badge {
    text-align: left;
  * {
    margin-bottom: 4px;
  }
}
}

#side_bar_licence_year {
  font-size: 0.5rem;
}
