* {
  box-sizing: border-box;
}

// Create three unequal columns that floats next to each other _/
.column {
  float: left;
  padding: 10px;
}

.left,
.right {
  width: 15%;
}

.middle {
  width: 70%;
}

/// Clear floats after the columns _/
.row:after {
  content: "";
  display: table;
  clear: both;
}
.post-body {
  .__dimensions_badge_embed__,
  .__dimensions_badge_embed__ a,
  .__dimensions_badge_embed__ a:hover,
  .__dimensions_badge_embed__ div {
    font-size: 24px;
  }
}
