# config.yml

backend:
#  name: git-gateway
#  accept_roles: #optional - accepts all users if left out
#    - admin
#    - editor
  name: github
  repo: overqint/overqint.github.io # Path to your GitHub repository
media_folder: 'assets/images'
public_folder: 'assets/images'
publish_mode: editorial_workflow
collections:
  - label: "Data files"
    name: "data"
    files:

      - name: "publications"
        label: "publications list"
        file: "_data/publications.yml"
        fields:
          - label: "Publications"
            name: "items"
            widget: "list"
            allow_add: true
            fields:

            - label: "Title"
              name: "a_title"
              widget: "string"
              default: ""

            - label: "Authors list"
              name: "authors"
              widget: "string"
              default: ""

            - label: "in"
              name: 'in'
              widget: 'string'
              default: ""
              
            - label: 'published'
              name: 'published'
              widget: 'string'
              default: ""
              
            - label: "doi"
              name: 'doi'
              widget: 'string'
              required: false
              default: ""

            - label: "year"
              name: 'year'
              widget: 'string'
              default: ""
  
  - name: "posts"
    label: "Posts"
    folder: "/_posts/"
    create: true
    media_folder: "/assets/"
    slug: '{{year}}-{{month}}-{{day}}-{{slug}}'
    fields:
      - { label: "image", name: "image", widget: "image", default: "/", required: false}
      - { label: "description", name: "description", widget: "string", default: "", required: false}
      - { label: "slug", name: "slug", widget: "string", required: false}
      - { label: "Layout", name: "layout", widget: "string", default: "post" }
      - { label: "Title", name: "title", widget: "string" }
      - { label: "Publish Date", name: "date", widget: "datetime", required: false}
      - { label: "Tags", name: "tags", widget: "string", required: false }
      - { label: "Image", name: "image", widget: "image", required: false }
      - { label: "Allow comments", name: "comments", widget: "boolean", required: false, default: true }
      - { label: "Body", name: "body", widget: "markdown", required: false }

  - name: "pages"
    label: "Pages"
    folder: "/"
    create: true
    media_folder: "/assets/"
    fields:
      - { label: "image", name: "image", widget: "image", default: "/", required: false}
      - { label: "description", name: "description", widget: "string", default: "", required: false}
      - { label: "permalink", name: "permalink", widget: "string", default: "/", required: false}
      - { label: "slug", name: "slug", widget: "string", required: false}
      - { label: "Layout", name: "layout", widget: "string", default: "page" }
      - { label: "Title", name: "title", widget: "string" }
      - { label: "Publish Date", name: "date", widget: "datetime", required: false}
      - { label: "Allow comments", name: "comments", widget: "boolean", required: false, default: true }
      - { label: "Body", name: "body", widget: "markdown", required: false }
    slug: "{{slug}}"
