---
layout: default
---


<div class="content">
 <h2> Intro</h2>
 <p>Proven excellence in the development of strong rapport with students, colleagues and administrators. Experienced lecturer at university and conferences with a knack for communicating audiences of all levels. Committed researcher with strong mathematical skills to develop and implement projects.
 </p>
 <h2>Core Skills</h2>
  <ul>
   <li> Technology Enhanced Learning & Distance Education</li>
<li> Nanometrology & Qualitative Methods & Data analysis</li>
<li> Energy and Environmental Management</li>
<li> Quality Control & Design of Experiments & Taguchi Method</li>
<li> Artificial Intelligence & Fuzzy Logic</li>
<li> Standardization (ESOs&ISO)</li>
<li> Management System Modeling & Optimization</li>
<li> Ansys, Matlab, iGrafx, n5-Solutions, CAD-CAM Systems</li>
<li> Python (beginner)</li>
 </ul>
  <h2>Education</h2>
PhD in Mechanical Engineering, 2009-2013
Vienna University of Technology, Vienna (Austria)
Dissertation: Energy Management Based Model in Advanced Manufacturing Industry Enabled by Nanotechnology
Research of Interest:
<ul>
 <li>High Precision Measurement (Nanometrology Laboratory)</li>
 <li>Nanotechnology</li>
 <li>Integrated Management Systems (Energy, Environment & Quality Management)</li>
 </ul>
MSc in Electrical & Electronics Engineering, 2002-2005
Middle East Technical University, Ankara (Turkey)
Thesis: Electrical Field Analysis in Stress Controlled High Voltage Cables
Research of Interest:
 <ul>
  <li>Finite Element Method (FEM) Analysis (Ansys)</li>
  <li>Energy System Analysis</li>
 </ul>
BSc in Electrical & Electronics Engineering, 1997-2002
Middle East Technical University, Ankara (Turkey)
Graduation Project: A system of a golf club playing a hole on an inclined plane
Topics of Interest:
 <ul>
<li>Mechanical design, software development and control of a motor drive & optimization (Matlab)</li>
  <li>Energy Systems</li>
 </ul>
</div>
