---
layout: default
---

<div class="content">
  <h1>Profile</h1>
  <p>Experienced lecturer at universities and conferences/seminars. Committed researcher with mathematical skills to
    develop and implement projects.</p>
  <h2>Core Skills</h2>
  <ul>
    <li>Technology Enhanced Learning & Distance Education</li>
    <li>Nanometrology & Qualitative and Quantitative Data Analysis</li>
    <li>Energy and Environmental Management</li>
    <li>Quality Control & Design of Experiments & Taguchi Method</li>
    <li>Artificial Intelligence & Fuzzy Logic</li>
    <li>Standardization (ESOs&ISO)</li>
    <li>Management System Modeling & Optimization</li>
    <li>Ansys, Matlab</li>
    <li>iGrafx, n5-Solutions</li>
    <li>CAD-CAM Systems</li>
    <li>Python</li>
  </ul>
  <h2>Education</h2>
  PhD: Faculty of Mechanical and Industrial Engineering, Research Group Production Metrology and Adaptronic Systems &
  High Precision and Nanometrology Laboratory, Vienna University of Technology, (Austria)
  Dissertation: Energy Management Based Model in Advanced Manufacturing Industry Enabled by Nanotechnology
  <h4>Research of Interest:</h4>
  <ul>
    <li>High Precision Measurement (Nanometrology Laboratory)</li>
    <li>Nanotechnology</li>
    <li>Qualitative and Quantitative Data Analysis</li>
    <li>Integrated Management Systems (Energy, Environment & Quality Management)</li>
  </ul>
  MSc: Electrical & Electronics Engineering, Middle East Technical University (Turkey)
  Thesis: Electrical Field Analysis in Stress Controlled High Voltage Cables
  <h4>Research of Interest:</h4>
  <ul>
    <li>Finite Element Method (FEM) Analysis (Ansys)</li>
    <li>Energy System Analysis</li>
  </ul>
  BSc: Electrical & Electronics Engineering, Middle East Technical University (Turkey)
  Graduation Project: A system of a golf club playing a hole on an inclined plane
  <h4>Topics of Interest:</h4>
  <ul>
    <li>Mechanical & Electronic design, Motor drive & Control, Optimization (Matlab)</li>
    <li>Energy Systems</li>
  </ul>
</div>
